@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Source+Serif+4:wght@300;400&display=swap');
/* Sacramento */
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
/* Supermercado One */
@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');
/* Raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');

.nav {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;

    padding: 0.7rem max(3vh, 1rem);

    background-color: white;
    box-shadow: 0 -7px 20px 0 #000000;
}

.nav__heading {
    padding: 0.3em 0.6em;
    background-color: black;
}

.nav__heading a {
    text-decoration: none;
    color: white;
    font-family: 'Supermercado One', cursive;
    font-weight: 500;
    font-size: 1.6rem;

    transition: color 0.35s ease-in;
}

.nav__heading a:hover {
    color: yellow;
}

.nav ol {
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav__list-item {
    gap: 2rem;
    text-align: center;
}

.nav__list-item a {
    text-decoration: none;
    color: #494949;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
}

.nav__list-item a:hover {
    color: #6d6d6d;
}

.nav__hamburger {
    display: none;

    cursor: pointer;
    color: black;
}

@media (max-width: 700px) {
    .nav > ol {
        display: none;
    }

    .nav__active > ol {
        position: fixed;
        inset: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;

        background: black;
    }

    .nav__active > ol .nav__list-item a {
        color: white;
        transition: color 0.4s ease-in-out;
    }

    .nav__active > ol .nav__list-item a:hover {
        color: #6d6d6d;
    }

    .nav__hamburger {
        display: block;
        z-index: 10;
    }

    .nav__active > .nav__hamburger {
        color: white;
    }
}